In [5]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [6]:
nba_players = pd.read_csv('../../Data/Combined Player and Team Data/improved_combined_player_and_team_data.csv',index_col='Unnamed: 0')
nba_players[['FG%','2P%','eFG%','FT%','3P%']] = nba_players[['FG%','2P%','eFG%','FT%','3P%']].fillna(0)

In [9]:
teams = pd.read_csv('../../Data/Team Data/Combined/league_stats.csv',index_col='Unnamed: 0')

In [10]:
def fix_years(x):
    return str(x).split('-')[0]

In [11]:
teams.SEASON = teams.SEASON.apply(fix_years)

In [12]:
teams.head(3)

,TEAM,SEASON,AGE,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,PACE,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,ARENA,ATTENDANCE,ATTENDANCE/G
0,CHI,1979,25.9,30,52,34,48,-2.71,0.08,-2.63,104.3,107.0,-2.7,101.8,0.373,0.040,0.545,0.489,17.2,32.2,0.291,0.500,15.7,68.0,0.251,Chicago Stadium,NaN,18508.0
1,CHI,1980,26.5,45,37,46,36,1.98,0.37,2.34,107.8,105.8,2.0,100.6,0.371,0.026,0.556,0.504,17.2,36.9,0.288,0.493,15.5,68.4,0.232,Chicago Stadium,391118.0,NaN
2,CHI,1981,26.5,34,48,36,46,-2.02,0.45,-1.57,106.6,108.6,-2.0,99.0,0.378,0.032,0.557,0.505,17.3,33.6,0.290,0.499,13.2,69.0,0.207,Chicago Stadium,372613.0,NaN

In [167]:
# Divides team data up by year and puts it in it's own folder

for i in teams.SEASON.unique():
    teams.loc[teams['SEASON'] == str(i)].to_csv(f'../../Data/Team Data/By Year/{i}_team_data.csv')

In [180]:
k = pd.read_csv('../../Data/Team Data/By Year/2012_team_data.csv',index_col='Unnamed: 0')
for key in ['AGE', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS','ORtg', 'DRtg', 'NRtg', 'PACE', 'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%','ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',]:
    k[key].apply(f, args=(k[key].mean()))
k

TypeError: f() argument after * must be an iterable, not float

In [99]:

yr = teams[teams.SEASON == str(1980)]

FTr = yr.FTr.mean()
# print(FTr)
l = []
for i in yr.FTr:
    if i < FTr:
        l.append(FTr - i)
    elif i > FTr:
        l.append(i - FTr)
    elif FTr == i:
        l.append(FTr)

In [121]:
for key in ['AGE', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS','ORtg', 'DRtg', 'NRtg', 'PACE', 'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%','ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',]:
    for year in teams.SEASON.unique():
        l = list()
        teams.loc[teams['SEASON'] == str(year),key]

In [128]:
a = teams.loc[teams['SEASON'] == str(year),key]
mean = a.mean()
l = list()
for i in a:
    if i < mean:
        return mean - i
    elif i > FTr:
        return i - mean
    elif mean == i:
        return mean

ValueError: cannot set a row with mismatched columns

In [129]:
def f(x,mean):
    if x < mean:
        return mean - x
    elif x > mean:
        return x - mean
    elif mean == x:
        return mean

In [140]:
for key in ['AGE', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS','ORtg', 'DRtg', 'NRtg', 'PACE', 'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%','ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',]:
    for year in list(teams.SEASON.unique()):
        teams.loc[teams['SEASON'] == str(year),key].apply(f,args=[teams.loc[teams['SEASON'] == str(year),key].mean()])

In [13]:
teams.SEASON.unique()

array(['1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype=object)