In [71]:
import pandas as pd

In [72]:
df = pd.read_csv('../Basketball Reference Stat Scraper/team_stats/all.csv',index_col=0).drop(columns=['Unnamed: 0'])

In [73]:
df

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Year
0,Boston Celtics*,82,242.4,41.9,89.2,0.470,0.9,3.2,0.286,41.0,...,-0.42,7.37,109.4,101.9,7.5,102.6,0.332,0.057,0.550,1980.0
1,Los Angeles Lakers*,82,242.4,45.4,96.6,0.470,1.0,3.3,0.285,44.5,...,-0.51,5.40,109.5,103.9,5.6,104.1,0.284,0.014,0.569,1980.0
2,Philadelphia 76ers*,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,41.1,...,-0.18,4.04,105.0,101.0,4.0,103.0,0.340,0.017,0.544,1980.0
3,Seattle SuperSonics*,82,241.8,41.6,90.5,0.459,0.7,2.9,0.246,40.8,...,-0.42,4.24,105.8,101.2,4.6,101.8,0.298,0.025,0.520,1980.0
4,Phoenix Suns*,82,240.9,43.5,91.2,0.476,1.2,3.6,0.337,42.2,...,-0.35,3.25,105.6,102.2,3.4,104.8,0.341,0.039,0.548,1980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,0.330,30.5,...,0.35,-5.89,109.2,115.3,-6.1,100.8,0.261,0.360,0.550,2023.0
27,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,0.345,32.0,...,0.22,-9.82,110.2,120.0,-9.8,101.6,0.229,0.348,0.554,2023.0
28,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,0.327,30.2,...,0.24,-7.62,111.4,119.3,-7.9,99.0,0.285,0.359,0.554,2023.0
29,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,0.351,28.2,...,0.49,-7.73,110.7,118.9,-8.2,99.0,0.295,0.372,0.561,2023.0
30,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,29.6,...,0.00,0.00,114.8,114.8,NaN,99.1,0.266,0.387,0.581,2023.0

In [74]:
old = pd.read_csv('../Basketball Reference Stat Scraper/team_stats/pre_1980/all_pre_1980.csv',index_col=0)

In [75]:
old

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Year
0,Syracuse Nationals*,64.0,NaN,29.2,82.4,0.354,NaN,NaN,NaN,29.2,...,-1.70,6.48,NaN,NaN,NaN,NaN,0.454,NaN,0.429,1950.0
1,Minneapolis Lakers*,68.0,NaN,31.5,85.8,0.367,NaN,NaN,NaN,31.5,...,-0.09,8.25,NaN,NaN,NaN,NaN,0.333,NaN,0.427,1950.0
2,Rochester Royals*,68.0,NaN,28.8,77.2,0.373,NaN,NaN,NaN,28.8,...,-0.05,7.72,NaN,NaN,NaN,NaN,0.442,NaN,0.447,1950.0
3,New York Knicks*,68.0,NaN,27.8,78.7,0.353,NaN,NaN,NaN,27.8,...,0.41,2.53,NaN,NaN,NaN,NaN,0.449,NaN,0.428,1950.0
4,Fort Wayne Pistons*,68.0,NaN,27.6,86.8,0.318,NaN,NaN,NaN,27.6,...,0.47,1.84,NaN,NaN,NaN,NaN,0.395,NaN,0.389,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Oklahoma City Thunder,75.0,241.7,38.2,89.3,0.428,12.1,37.6,0.321,26.2,...,0.30,-7.13,104.6,112.0,-7.4,98.5,0.223,0.421,0.529,2022.0
27,Houston Rockets,76.0,241.0,39.1,86.0,0.455,13.4,38.5,0.349,25.7,...,0.33,-8.21,107.9,116.3,-8.4,100.8,0.285,0.447,0.564,2022.0
28,Detroit Pistons,76.0,241.3,38.1,88.7,0.430,11.1,34.2,0.326,27.0,...,0.37,-7.45,105.7,113.6,-7.9,98.4,0.248,0.386,0.532,2022.0
29,Orlando Magic,76.0,241.3,38.2,88.2,0.434,12.0,36.4,0.329,26.2,...,0.25,-7.49,104.3,112.1,-7.8,99.2,0.226,0.413,0.537,2022.0
30,League Average 2022,76.0,241.4,40.5,88.1,0.460,12.4,35.2,0.352,28.1,...,0.00,0.00,111.6,111.6,NaN,98.1,0.247,0.399,0.564,2022.0

In [76]:
total = pd.concat([old,df]).drop_duplicates().reset_index(drop=True)

In [77]:
league = total[total['Team'].str.contains('League')].copy()

In [78]:
league.loc[:,'Year'] = league.loc[:,'Year'].astype(int)

/var/folders/0p/ttyhqytj0zxf3tq1njp37rqw0000gn/T/ipykernel_67580/992794134.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  league.loc[:,'Year'] = league.loc[:,'Year'].astype(int)

In [79]:
total = total.drop(league.index).reset_index(drop=True)

In [80]:
league.to_csv('league_stats.csv')
total.to_csv('team_stats.csv')