In [3]:
import pandas as pd
from datetime import datetime

In [6]:
for i in range(1980,datetime.now().year):
    df = pd.read_csv(f'/Users/chaseallbright/Dropbox/NBA/Basketball Reference Stat Scraper/Old/cleaned_stats/{i}.csv',index_col=0)
    df = df.drop(df[df['Tm'] == 'Traded'].index)

    break

In [7]:

df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,STAR,Year
0,Kareem Abdul-Jabbar,C,32.0,LAL,82.0,NaN,38.3,10.2,16.9,0.604,...,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8,True,1980
1,Tom Abernethy,PF,25.0,GSW,67.0,NaN,18.2,2.3,4.7,0.481,...,1.9,2.9,1.3,0.5,0.2,0.6,1.8,5.4,False,1980
2,Alvan Adams,C,25.0,PHO,75.0,NaN,28.9,6.2,11.7,0.531,...,6.0,8.1,4.3,1.4,0.7,2.9,3.2,14.9,False,1980
3,Tiny Archibald,PG,31.0,BOS,80.0,80.0,35.8,4.8,9.9,0.482,...,1.7,2.5,8.4,1.3,0.1,3.0,2.7,14.1,True,1980
4,Dennis Awtrey,C,31.0,CHI,26.0,NaN,21.5,1.0,2.3,0.450,...,3.3,4.4,1.5,0.5,0.6,1.0,2.5,3.3,False,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,Bubba Wilson,SG,24.0,GSW,16.0,NaN,8.9,0.4,1.6,0.280,...,0.6,1.0,0.8,0.1,0.0,0.5,0.7,1.1,False,1980
282,Rick Wilson,SG,23.0,ATL,5.0,NaN,11.8,0.4,2.8,0.143,...,0.2,0.6,2.2,0.8,0.2,1.6,0.6,1.6,False,1980
283,Brian Winters,SG,27.0,MIL,80.0,NaN,32.8,6.7,14.0,0.479,...,2.2,2.8,4.5,1.3,0.4,2.3,2.6,16.2,False,1980
284,Larry Wright,PG,25.0,WSB,76.0,NaN,16.9,3.0,6.6,0.458,...,1.1,1.6,2.9,0.6,0.2,1.4,1.9,7.3,False,1980
285,Tony Zeno,SF,22.0,IND,8.0,NaN,7.4,0.8,2.6,0.286,...,1.4,1.8,0.1,0.5,0.4,1.1,1.6,1.8,False,1980