In [159]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [160]:
nba_players = pd.read_csv('../Data/Combined Player and Team Data/improved_combined_player_and_team_data.csv',index_col='Unnamed: 0')
nba_players[['FG%','2P%','eFG%','FT%','3P%']] = nba_players[['FG%','2P%','eFG%','FT%','3P%']].fillna(0)

In [161]:
teams = pd.read_csv('../Data/Team Data/Combined/league_stats.csv',index_col='Unnamed: 0')

In [162]:
def fix_years(x):
    return str(x).split('-')[0]

In [163]:
teams.SEASON = teams.SEASON.apply(fix_years)

In [164]:
teams.head(3)

,TEAM,SEASON,AGE,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,PACE,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,ARENA,ATTENDANCE,ATTENDANCE/G
0,CHI,1979,25.9,30,52,34,48,-2.71,0.08,-2.63,104.3,107.0,-2.7,101.8,0.373,0.040,0.545,0.489,17.2,32.2,0.291,0.500,15.7,68.0,0.251,Chicago Stadium,NaN,18508.0
1,CHI,1980,26.5,45,37,46,36,1.98,0.37,2.34,107.8,105.8,2.0,100.6,0.371,0.026,0.556,0.504,17.2,36.9,0.288,0.493,15.5,68.4,0.232,Chicago Stadium,391118.0,NaN
2,CHI,1981,26.5,34,48,36,46,-2.02,0.45,-1.57,106.6,108.6,-2.0,99.0,0.378,0.032,0.557,0.505,17.3,33.6,0.290,0.499,13.2,69.0,0.207,Chicago Stadium,372613.0,NaN

In [167]:
# Divides team data up by year and puts it in it's own folder

for i in teams.SEASON.unique():
    teams.loc[teams['SEASON'] == str(i)].to_csv(f'../Data/Team Data/By Year/{i}_team_data.csv')

In [180]:
k = pd.read_csv('../Data/Team Data/By Year/2012_team_data.csv',index_col='Unnamed: 0')
for key in ['AGE', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS','ORtg', 'DRtg', 'NRtg', 'PACE', 'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%','ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',]:
    k[key].apply(f, args=(k[key].mean()))
k

TypeError: f() argument after * must be an iterable, not float

In [99]:

yr = teams[teams.SEASON == str(1980)]

FTr = yr.FTr.mean()
# print(FTr)
l = []
for i in yr.FTr:
    if i < FTr:
        l.append(FTr - i)
    elif i > FTr:
        l.append(i - FTr)
    elif FTr == i:
        l.append(FTr)

In [121]:
for key in ['AGE', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS','ORtg', 'DRtg', 'NRtg', 'PACE', 'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%','ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',]:
    for year in teams.SEASON.unique():
        l = list()
        teams.loc[teams['SEASON'] == str(year),key]

In [128]:
a = teams.loc[teams['SEASON'] == str(year),key]
mean = a.mean()
l = list()
for i in a:
    if i < mean:
        return mean - i
    elif i > FTr:
        return i - mean
    elif mean == i:
        return mean

ValueError: cannot set a row with mismatched columns

In [129]:
def f(x,mean):
    if x < mean:
        return mean - x
    elif x > mean:
        return x - mean
    elif mean == x:
        return mean

In [140]:
for key in ['AGE', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS','ORtg', 'DRtg', 'NRtg', 'PACE', 'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%','ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',]:
    for year in list(teams.SEASON.unique()):
        teams.loc[teams['SEASON'] == str(year),key].apply(f,args=[teams.loc[teams['SEASON'] == str(year),key].mean()])

In [141]:
teams.SEASON.unique()

array(['1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype=object)

In [133]:
year

'2018'

In [138]:
teams

,TEAM,SEASON,AGE,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,PACE,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,ARENA,ATTENDANCE,ATTENDANCE/G
0,CHI,1979,25.9,30,52,34,48,-2.71,0.08,-2.63,104.3,107.0,-2.7,101.8,0.373,0.040,0.545,0.489,17.2,32.2,0.291,0.500,15.7,68.0,0.251,Chicago Stadium,NaN,18508.0
1,CHI,1980,26.5,45,37,46,36,1.98,0.37,2.34,107.8,105.8,2.0,100.6,0.371,0.026,0.556,0.504,17.2,36.9,0.288,0.493,15.5,68.4,0.232,Chicago Stadium,391118.0,NaN
2,CHI,1981,26.5,34,48,36,46,-2.02,0.45,-1.57,106.6,108.6,-2.0,99.0,0.378,0.032,0.557,0.505,17.3,33.6,0.290,0.499,13.2,69.0,0.207,Chicago Stadium,372613.0,NaN
3,CHI,1982,24.5,28,54,29,53,-4.89,0.48,-4.41,103.4,108.0,-4.6,106.1,0.365,0.028,0.532,0.483,16.9,34.0,0.269,0.498,14.3,67.9,0.237,Chicago Stadium,296411.0,NaN
4,CHI,1983,24.4,27,55,28,54,-5.18,0.50,-4.69,102.4,107.5,-5.1,99.8,0.360,0.017,0.526,0.475,16.3,32.3,0.268,0.497,15.6,67.2,0.266,Chicago Stadium,256430.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,BRK,2016,26.0,20,62,24,58,-6.73,-0.01,-6.74,104.1,110.7,-6.6,101.3,0.289,0.371,0.551,0.507,14.7,19.6,0.228,0.513,11.6,76.1,0.212,Barclays Center,632608.0,15429.0
1100,BRK,2017,25.1,28,54,31,51,-3.74,0.07,-3.67,106.9,110.6,-3.7,98.9,0.260,0.411,0.551,0.514,13.6,21.0,0.201,0.517,11.0,77.0,0.201,Barclays Center,640010.0,15376.0
1101,BRK,2018,25.4,42,40,41,41,-0.07,-0.33,-0.40,109.6,109.7,-0.1,100.8,0.284,0.403,0.556,0.520,13.0,23.8,0.211,0.512,11.6,76.4,0.190,Barclays Center,612597.0,14941.0
1102,NOK,2005,26.3,38,44,33,49,-2.82,0.31,-2.51,103.7,106.8,-3.1,89.0,0.339,0.138,0.515,0.464,12.9,26.9,0.257,0.502,14.3,73.4,0.243,Ford Center,744920.0,18717.0
1103,NOK,2006,26.4,39,43,36,46,-1.57,0.38,-1.19,104.8,106.5,-1.7,90.2,0.291,0.188,0.520,0.479,13.6,29.1,0.215,0.499,13.2,74.7,0.212,Ford Center,731165.0,17954.0