In [151]:
import pandas as pd
import seaborn as sns
import numpy as np

In [152]:
champ = pd.read_csv('champions.csv',index_col=0)
rup = pd.read_csv('runnerups.csv',index_col=0)

In [153]:
df = pd.read_csv('../Basketball Reference Stat Scraper/team_stats/all.csv',index_col=0)
df.loc[:,'Playoffs'] = 0

In [154]:
df.loc[df['Team'].str.contains('\*'),'Playoffs'] = 1

In [155]:
df

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 0,Year,Playoffs
0,Boston Celtics*,82,242.4,41.9,89.2,0.470,0.9,3.2,0.286,41.0,...,109.4,101.9,7.5,102.6,0.332,0.057,0.550,0.0,1980.0,1
1,Los Angeles Lakers*,82,242.4,45.4,96.6,0.470,1.0,3.3,0.285,44.5,...,109.5,103.9,5.6,104.1,0.284,0.014,0.569,1.0,1980.0,1
2,Philadelphia 76ers*,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,41.1,...,105.0,101.0,4.0,103.0,0.340,0.017,0.544,2.0,1980.0,1
3,Seattle SuperSonics*,82,241.8,41.6,90.5,0.459,0.7,2.9,0.246,40.8,...,105.8,101.2,4.6,101.8,0.298,0.025,0.520,3.0,1980.0,1
4,Phoenix Suns*,82,240.9,43.5,91.2,0.476,1.2,3.6,0.337,42.2,...,105.6,102.2,3.4,104.8,0.341,0.039,0.548,4.0,1980.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,0.330,30.5,...,109.2,115.3,-6.1,100.8,0.261,0.360,0.550,NaN,2023.0,0
27,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,0.345,32.0,...,110.2,120.0,-9.8,101.6,0.229,0.348,0.554,NaN,2023.0,0
28,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,0.327,30.2,...,111.4,119.3,-7.9,99.0,0.285,0.359,0.554,NaN,2023.0,0
29,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,0.351,28.2,...,110.7,118.9,-8.2,99.0,0.295,0.372,0.561,NaN,2023.0,0
30,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,29.6,...,114.8,114.8,NaN,99.1,0.266,0.387,0.581,NaN,2023.0,0

In [156]:
l = []

for i in df.iterrows():
    # print(i[1]['Team'])
    if '*' in i[1]['Team']:

        l.append(i[1]['Team'].rstrip('*'))
    else:
        l.append(i[1]['Team'])

df['Team'] = l
df

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 0,Year,Playoffs
0,Boston Celtics,82,242.4,41.9,89.2,0.470,0.9,3.2,0.286,41.0,...,109.4,101.9,7.5,102.6,0.332,0.057,0.550,0.0,1980.0,1
1,Los Angeles Lakers,82,242.4,45.4,96.6,0.470,1.0,3.3,0.285,44.5,...,109.5,103.9,5.6,104.1,0.284,0.014,0.569,1.0,1980.0,1
2,Philadelphia 76ers,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,41.1,...,105.0,101.0,4.0,103.0,0.340,0.017,0.544,2.0,1980.0,1
3,Seattle SuperSonics,82,241.8,41.6,90.5,0.459,0.7,2.9,0.246,40.8,...,105.8,101.2,4.6,101.8,0.298,0.025,0.520,3.0,1980.0,1
4,Phoenix Suns,82,240.9,43.5,91.2,0.476,1.2,3.6,0.337,42.2,...,105.6,102.2,3.4,104.8,0.341,0.039,0.548,4.0,1980.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,0.330,30.5,...,109.2,115.3,-6.1,100.8,0.261,0.360,0.550,NaN,2023.0,0
27,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,0.345,32.0,...,110.2,120.0,-9.8,101.6,0.229,0.348,0.554,NaN,2023.0,0
28,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,0.327,30.2,...,111.4,119.3,-7.9,99.0,0.285,0.359,0.554,NaN,2023.0,0
29,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,0.351,28.2,...,110.7,118.9,-8.2,99.0,0.295,0.372,0.561,NaN,2023.0,0
30,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,29.6,...,114.8,114.8,NaN,99.1,0.266,0.387,0.581,NaN,2023.0,0

In [157]:
short_l = []

for i in df.iterrows():
    # print(i[1]['Team'])
    short_l.append(i[1]['Team'].split(' ')[-1])

df['short_name'] = short_l
df

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 0,Year,Playoffs,short_name
0,Boston Celtics,82,242.4,41.9,89.2,0.470,0.9,3.2,0.286,41.0,...,101.9,7.5,102.6,0.332,0.057,0.550,0.0,1980.0,1,Celtics
1,Los Angeles Lakers,82,242.4,45.4,96.6,0.470,1.0,3.3,0.285,44.5,...,103.9,5.6,104.1,0.284,0.014,0.569,1.0,1980.0,1,Lakers
2,Philadelphia 76ers,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,41.1,...,101.0,4.0,103.0,0.340,0.017,0.544,2.0,1980.0,1,76ers
3,Seattle SuperSonics,82,241.8,41.6,90.5,0.459,0.7,2.9,0.246,40.8,...,101.2,4.6,101.8,0.298,0.025,0.520,3.0,1980.0,1,SuperSonics
4,Phoenix Suns,82,240.9,43.5,91.2,0.476,1.2,3.6,0.337,42.2,...,102.2,3.4,104.8,0.341,0.039,0.548,4.0,1980.0,1,Suns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,0.330,30.5,...,115.3,-6.1,100.8,0.261,0.360,0.550,NaN,2023.0,0,Hornets
27,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,0.345,32.0,...,120.0,-9.8,101.6,0.229,0.348,0.554,NaN,2023.0,0,Spurs
28,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,0.327,30.2,...,119.3,-7.9,99.0,0.285,0.359,0.554,NaN,2023.0,0,Rockets
29,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,0.351,28.2,...,118.9,-8.2,99.0,0.295,0.372,0.561,NaN,2023.0,0,Pistons
30,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,29.6,...,114.8,NaN,99.1,0.266,0.387,0.581,NaN,2023.0,0,2023

In [158]:
df['short_name'] = df['short_name'].str.replace('76ers', 'Sixers')
df['short_name'] = df['short_name'].str.replace('SuperSonics', 'Sonics')

In [159]:
champ

    Year       Team
0   1980     Lakers
1   1981    Celtics
2   1982     Lakers
3   1983     Sixers
4   1984    Celtics
5   1985     Lakers
6   1986    Celtics
7   1987     Lakers
8   1988     Lakers
9   1989    Pistons
10  1990    Pistons
11  1991      Bulls
12  1992      Bulls
13  1993      Bulls
14  1994    Rockets
15  1995    Rockets
16  1996      Bulls
17  1997      Bulls
18  1998      Bulls
19  1999      Spurs
20  2000     Lakers
21  2001     Lakers
22  2002     Lakers
23  2003      Spurs
24  2004    Pistons
25  2005      Spurs
26  2006       Heat
27  2007      Spurs
28  2008    Celtics
29  2009     Lakers
30  2010     Lakers
31  2011  Mavericks
32  2012       Heat
33  2013       Heat
34  2014      Spurs
35  2015   Warriors
36  2016  Cavaliers
37  2017   Warriors
38  2018   Warriors
39  2019    Raptors
40  2020     Lakers
41  2021      Bucks
42  2022   Warriors

In [160]:
df

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 0,Year,Playoffs,short_name
0,Boston Celtics,82,242.4,41.9,89.2,0.470,0.9,3.2,0.286,41.0,...,101.9,7.5,102.6,0.332,0.057,0.550,0.0,1980.0,1,Celtics
1,Los Angeles Lakers,82,242.4,45.4,96.6,0.470,1.0,3.3,0.285,44.5,...,103.9,5.6,104.1,0.284,0.014,0.569,1.0,1980.0,1,Lakers
2,Philadelphia 76ers,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,41.1,...,101.0,4.0,103.0,0.340,0.017,0.544,2.0,1980.0,1,Sixers
3,Seattle SuperSonics,82,241.8,41.6,90.5,0.459,0.7,2.9,0.246,40.8,...,101.2,4.6,101.8,0.298,0.025,0.520,3.0,1980.0,1,Sonics
4,Phoenix Suns,82,240.9,43.5,91.2,0.476,1.2,3.6,0.337,42.2,...,102.2,3.4,104.8,0.341,0.039,0.548,4.0,1980.0,1,Suns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,0.330,30.5,...,115.3,-6.1,100.8,0.261,0.360,0.550,NaN,2023.0,0,Hornets
27,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,0.345,32.0,...,120.0,-9.8,101.6,0.229,0.348,0.554,NaN,2023.0,0,Spurs
28,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,0.327,30.2,...,119.3,-7.9,99.0,0.285,0.359,0.554,NaN,2023.0,0,Rockets
29,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,0.351,28.2,...,118.9,-8.2,99.0,0.295,0.372,0.561,NaN,2023.0,0,Pistons
30,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,29.6,...,114.8,NaN,99.1,0.266,0.387,0.581,NaN,2023.0,0,2023

In [161]:
a = pd.merge(champ,df,left_on=['Team','Year'],right_on=['short_name','Year'],how='outer',indicator=True)

In [162]:
a._merge = a._merge.astype(str)
a.loc[a['_merge'] == 'both','_merge']  = 'champs'

In [163]:
a = a.drop('Team_x',axis=1)

In [164]:
a = a.rename(columns={'_merge':'champs'})

In [165]:
a = pd.merge(rup,a,left_on=['Team','Year'],right_on=['short_name','Year'],how='outer',indicator=True)

In [166]:


a = a.rename(columns={'_merge':'runner_up','Team_y':'Team_long'})
a.drop(columns=['Team'])

,Year,Team_long,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 0,Playoffs,short_name,champs,runner_up
0,1980.0,Philadelphia 76ers,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,...,4.0,103.0,0.340,0.017,0.544,2.0,1,Sixers,right_only,both
1,1981.0,Houston Rockets,82,241.5,44.1,89.5,0.493,0.6,2.1,0.287,...,0.3,100.5,0.303,0.016,0.534,11.0,1,Rockets,right_only,both
2,1982.0,Philadelphia 76ers,82,242.1,41.1,86.4,0.476,0.7,2.6,0.259,...,5.7,100.6,0.354,0.020,0.566,1.0,1,Sixers,right_only,both
3,1983.0,Los Angeles Lakers,82,240.6,45.5,92.9,0.490,0.7,2.6,0.259,...,5.3,103.8,0.270,0.013,0.561,1.0,1,Lakers,right_only,both
4,1984.0,Los Angeles Lakers,82,241.2,44.8,92.7,0.483,0.8,2.7,0.283,...,3.6,103.7,0.313,0.031,0.574,1.0,1,Lakers,right_only,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263,2023.0,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,0.330,...,-6.1,100.8,0.261,0.360,0.550,NaN,0,Hornets,right_only,right_only
1264,2023.0,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,0.345,...,-9.8,101.6,0.229,0.348,0.554,NaN,0,Spurs,right_only,right_only
1265,2023.0,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,0.327,...,-7.9,99.0,0.285,0.359,0.554,NaN,0,Rockets,right_only,right_only
1266,2023.0,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,0.351,...,-8.2,99.0,0.295,0.372,0.561,NaN,0,Pistons,right_only,right_only
1267,2023.0,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,...,NaN,99.1,0.266,0.387,0.581,NaN,0,2023,right_only,right_only

In [167]:
a[['champs','runner_up']] = a[['champs','runner_up']].astype(str)

In [168]:
for i in ['champs','runner_up']:
        a.loc[a[i] == 'right_only',i] = 0

In [169]:
for i in ['champs','runner_up']:
        a.loc[a[i] == 'champs',i] = 1

In [170]:
a.loc[a['runner_up'] == 'both','runner_up'] = 1

In [171]:
a = a.drop(columns=['Unnamed: 0'])

In [172]:
a.to_csv('training_set_team.csv')

In [173]:
a

,Year,Team,Team_long,G,MP,FG,FGA,FG%,3P,3PA,...,DRtg,NRtg,Pace,FTr,3PAr,TS%,Playoffs,short_name,champs,runner_up
0,1980.0,Sixers,Philadelphia 76ers,82,242.1,42.0,92.2,0.455,0.9,3.4,...,101.0,4.0,103.0,0.340,0.017,0.544,1,Sixers,0,1
1,1981.0,Rockets,Houston Rockets,82,241.5,44.1,89.5,0.493,0.6,2.1,...,106.7,0.3,100.5,0.303,0.016,0.534,1,Rockets,0,1
2,1982.0,Sixers,Philadelphia 76ers,82,242.1,41.1,86.4,0.476,0.7,2.6,...,103.9,5.7,100.6,0.354,0.020,0.566,1,Sixers,0,1
3,1983.0,Lakers,Los Angeles Lakers,82,240.6,45.5,92.9,0.490,0.7,2.6,...,105.2,5.3,103.8,0.270,0.013,0.561,1,Lakers,0,1
4,1984.0,Lakers,Los Angeles Lakers,82,241.2,44.8,92.7,0.483,0.8,2.7,...,107.3,3.6,103.7,0.313,0.031,0.574,1,Lakers,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263,2023.0,NaN,Charlotte Hornets,82,241.8,41.3,90.4,0.457,10.7,32.5,...,115.3,-6.1,100.8,0.261,0.360,0.550,0,Hornets,0,0
1264,2023.0,NaN,San Antonio Spurs,82,242.1,43.1,92.6,0.465,11.1,32.2,...,120.0,-9.8,101.6,0.229,0.348,0.554,0,Spurs,0,0
1265,2023.0,NaN,Houston Rockets,82,240.9,40.6,88.9,0.457,10.4,31.9,...,119.3,-7.9,99.0,0.285,0.359,0.554,0,Rockets,0,0
1266,2023.0,NaN,Detroit Pistons,82,241.5,39.6,87.1,0.454,11.4,32.4,...,118.9,-8.2,99.0,0.295,0.372,0.561,0,Pistons,0,0
1267,2023.0,NaN,League Average 2023,82,241.8,42.0,88.3,0.475,12.3,34.2,...,114.8,NaN,99.1,0.266,0.387,0.581,0,2023,0,0