In [1]:
import pandas as pd
from datetime import datetime
import requests

In [2]:
def remove_multiindex(df:pd.DataFrame):
	return df.droplevel(level=0,axis=1)

In [3]:
def getdata(url):
    r = requests.get(url)
    return r.text

In [4]:
for year in range(1980,datetime.now().year+1):
    if year != 1999:
        html_txt = getdata(f'https://www.basketball-reference.com/allstar/NBA_{year}.html')

        team1 = remove_multiindex(pd.read_html(html_txt)[1])
        team2 = remove_multiindex(pd.read_html(html_txt)[2])

        team1.loc[0:4,'All Star Starter'] = True
        team2.loc[0:4,'All Star Starter'] = True

        all_stars = team1.append(team2)

        all_stars.loc[:,'All Star Starter'].fillna(False,inplace=True)
        all_stars.loc[:,'All Star'] = True
        all_stars.loc[:,'Year'] = year


        all_stars = all_stars[(all_stars['Starters'] != 'Reserves') & (all_stars['Starters'] != 'Team Totals') & (pd.notna(all_stars['Starters']))].reset_index(drop=True)
        all_stars = all_stars[['Starters','Year','All Star','All Star Starter']]
        all_stars.columns = ['Player','Year','All Star','All Star Starter']

        all_stars.to_csv(f'all_stars/{year}_all_stars.csv')


        if year != 1999:
            players = pd.read_csv(f'player_stats/{year}_player_stats.csv',index_col=0)

            players = pd.merge(left=players,right=all_stars,left_on=['Player','Year'],right_on=['Player','Year'],how='outer',)


            # This is to deal with players that were traded during an all star season
            players = players.drop(players[players.Pos.isna()].index)

        print(year,'processed')

1980 processed
1981 processed
1982 processed
1983 processed
1984 processed
1985 processed
1986 processed
1987 processed
1988 processed
1989 processed
1990 processed
1991 processed
1992 processed
1993 processed
1994 processed
1995 processed
1996 processed
1997 processed
1998 processed
2000 processed
2001 processed
2002 processed
2003 processed
2004 processed
2005 processed
2006 processed
2007 processed
2008 processed
2009 processed
2010 processed
2011 processed
2012 processed
2013 processed
2014 processed
2015 processed
2016 processed
2017 processed
2018 processed
2019 processed
2020 processed
2021 processed
2022 processed

In [5]:
for year in range(1980,datetime.now().year+1):
    if year != 1999:
        players = pd.read_csv(f'player_stats/{year}_player_stats.csv',index_col=0)

        players = pd.merge(left=players,right=all_stars,left_on=['Player','Year'],right_on=['Player','Year'],how='outer',)


        # This is to deal with players that were traded during an all star season
        players = players.drop(players[players.Pos.isna()].index)

In [6]:
players

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Year,All Star,All Star Starter
0,Precious Achiuwa,C,22,TOR,51,23,23.2,3.3,7.5,0.435,...,1.3,1.6,0.066,-2.2,-0.7,-2.9,-0.3,2022,NaN,NaN
1,Steven Adams,C,28,MEM,59,58,26.4,2.8,5.1,0.543,...,2.1,5.0,0.155,1.1,0.6,1.7,1.5,2022,NaN,NaN
2,Bam Adebayo,C,24,MIA,37,37,33.3,7.2,13.5,0.533,...,2.4,4.5,0.176,1.5,2.2,3.7,1.8,2022,NaN,NaN
3,Santi Aldama,PF,21,MEM,27,0,10.3,1.4,3.6,0.381,...,0.2,0.2,0.027,-4.6,-2.0,-6.7,-0.3,2022,NaN,NaN
4,LaMarcus Aldridge,C,36,BRK,42,11,22.6,5.7,10.2,0.555,...,0.9,2.9,0.146,1.7,-0.9,0.8,0.7,2022,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,Moses Wright,PF,23,LAC,1,0,1.0,0.0,0.0,0.000,...,0.0,0.0,0.443,10.8,13.5,24.3,0.0,2022,NaN,NaN
510,Trae Young,PG,23,ATL,55,55,34.5,9.4,20.5,0.457,...,0.6,6.5,0.164,6.7,-2.1,4.6,3.2,2022,True,True
511,Omer Yurtseven,C,23,MIA,44,10,13.9,2.6,4.9,0.540,...,1.2,2.0,0.160,-0.8,0.6,-0.2,0.3,2022,NaN,NaN
512,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,0.567,...,0.2,1.2,0.158,-0.9,-1.0,-1.9,0.0,2022,NaN,NaN
513,Ivica Zubac,C,24,LAC,57,57,24.3,3.8,5.8,0.650,...,2.1,5.3,0.185,-0.2,1.0,0.8,1.0,2022,NaN,NaN