In [1]:

import pandas as pd
import requests
from datetime import datetime

In [2]:
def remove_multiindex(df: pd.DataFrame):
    return df.droplevel(level=0, axis=1)

In [3]:
# link for extract html data
def getdata(url):
    r = requests.get(url)
    return r.text

In [12]:

# year = datetime.now().year
for year in range(1980,datetime.now().year):

# df = pd.read_html(getdata(f'https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html'))[0]
    df = pd.read_html(getdata(f'https://www.basketball-reference.com/playoffs/NBA_{year}_per_game.html'))[0]
    df_adv = pd.read_html(getdata(f'https://www.basketball-reference.com/playoffs/NBA_{year}_advanced.html'))[0]

# df = df.drop(df[df['Player'] == 'Player'].index)

    df = df.drop(df[df['Player'] == 'Player'].index)

    df_adv = df_adv.drop(df_adv[df_adv['Player'] == 'Player'].index)

    new = pd.merge(df, df_adv, on=['Player', 'Age', 'Tm', 'Pos'])

    player_stats_list = ['Player', 'Pos', 'Age', 'Tm', 'G_x', 'GS', 'MP_x', 'FG', 'FGA',
                         'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
                         'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
                         'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
                         'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS',
                         'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP']

    player_stats_list_correct = ['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
                                 '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
                                 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER',
                                 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
                                 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
                                 'VORP']

    # cuts down the columns to what is listed in player_stats_list_correct
    new = new[player_stats_list]
    new.columns = player_stats_list_correct

    # This gets rid of traded players entirely
    new = new.drop_duplicates(subset='Player', keep=False).reset_index(drop=True)

    # Fills nan's with 0
    new.fillna(value=0, inplace=True)

    # Adds a year column
    new['Year'] = year

    new.to_csv(f'playoffs/{year}_player_playoff_stats.csv')
    print(year, 'Complete')

1980 Complete
1981 Complete
1982 Complete
1983 Complete
1984 Complete
1985 Complete
1986 Complete
1987 Complete
1988 Complete
1989 Complete
1990 Complete
1991 Complete
1992 Complete
1993 Complete
1994 Complete
1995 Complete
1996 Complete
1997 Complete
1998 Complete
1999 Complete
2000 Complete
2001 Complete
2002 Complete
2003 Complete
2004 Complete
2005 Complete
2006 Complete
2007 Complete
2008 Complete
2009 Complete
2010 Complete
2011 Complete
2012 Complete
2013 Complete
2014 Complete
2015 Complete
2016 Complete
2017 Complete
2018 Complete
2019 Complete
2020 Complete
2021 Complete

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Precious Achiuwa,PF,21,MIA,3,12,8.1,.608,.000,...,NaN,-0.1,0.0,-0.1,-0.309,NaN,-11.3,2.8,-8.5,0.0
1,2,Bam Adebayo,C,23,MIA,4,136,14.9,.494,.000,...,NaN,-0.1,0.1,0.0,.011,NaN,0.4,0.5,0.9,0.1
2,3,Ty-Shon Alexander,SG,22,PHO,1,1,79.0,1.000,.000,...,NaN,0.0,0.0,0.0,1.248,NaN,23.7,5.9,29.5,0.0
3,4,Grayson Allen,SG,25,MEM,5,116,5.3,.478,.636,...,NaN,0.0,-0.1,-0.1,-0.035,NaN,-3.7,-2.1,-5.7,-0.1
4,5,Kyle Anderson,PF,27,MEM,5,142,13.7,.480,.286,...,NaN,0.0,0.1,0.1,.042,NaN,0.0,2.4,2.4,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,235,Robert Williams,C,23,BOS,3,46,27.2,.638,.000,...,NaN,0.1,0.0,0.2,.180,NaN,3.1,4.8,7.9,0.1
246,236,Justise Winslow,SF,24,MEM,1,3,14.0,NaN,NaN,...,NaN,0.0,0.0,0.0,.126,NaN,3.6,7.3,10.9,0.0
247,237,Cassius Winston,PG,22,WAS,1,5,-7.3,.333,.333,...,NaN,-0.1,0.0,-0.1,-0.568,NaN,-11.8,-6.3,-18.1,0.0
248,238,Trae Young,PG,22,ATL,16,603,21.2,.551,.401,...,NaN,0.8,0.6,1.4,.114,NaN,6.8,-0.5,6.3,1.3
249,239,Ivica Zubac,C,23,LAC,17,301,17.6,.681,.000,...,NaN,0.8,0.3,1.1,.177,NaN,0.2,-0.4,-0.3,0.1