In [2]:
from pprint import pprint

import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
tm_abbv = {'Atlanta Hawks': 'ATL',
 'St. Louis Hawks': 'SLH',
 'Milwaukee Hawks': 'MIL',
 'Tri-Cities Blackhawks': 'TCB',
 'Boston Celtics': 'BOS',
 'Brooklyn Nets': 'BRK',
 'New Jersey Nets': 'NJN',
 'New York Nets': 'NYN',
 'Chicago Bulls': 'CHI',
 'Charlotte Hornets': 'CHO',
 'Charlotte Bobcats': 'CHA',
 'Cleveland Cavaliers': 'CLE',
 'Dallas Mavericks': 'DAL',
 'Denver Nuggets': 'DEN',
 'Detroit Pistons': 'DET',
 'Fort Wayne Pistons': 'FWP',
 'Golden State Warriors': 'GSW',
 'San Francisco Warriors': 'SFW',
 'Philadelphia Warriors': 'PHI',
 'Houston Rockets': 'HOU',
 'San Diego Rockets': 'HOU',
 'Indiana Pacers': 'IND',
 'Los Angeles Clippers': 'LAC',
 'San Diego Clippers': 'SDC',
 'Buffalo Braves': 'BUF',
 'Los Angeles Lakers': 'LAL',
 'Minneapolis Lakers': 'MIN',
 'Memphis Grizzlies': 'MEM',
 'Vancouver Grizzlies': 'VAN',
 'Miami Heat': 'MIA',
 'Milwaukee Bucks': 'MIL',
 'Minnesota Timberwolves': 'MIN',
 'New Orleans Pelicans': 'NOP',
 'New Orleans/Oklahoma City Hornets': 'NOK',
 'New Orleans Hornets': 'NOH',
 'New York Knicks': 'NYK',
 'Oklahoma City Thunder': 'OKC',
 'Seattle Supersonics': 'SEA',
 'Seattle SuperSonics': 'SEA',
 'Orlando Magic': 'ORL',
 'Philadelphia 76rs': 'PHI',
 'Philadelphia 76ers': 'PHI',
 'Syracuse Nationals': 'SYR',
 'Phoenix Suns': 'PHO',
 'Portland Trail Blazers': 'POR',
 'Sacramento Kings': 'SAC',
 'Kansas City Kings': 'KCK',
 'Kansas City-Omaha Kings': 'KCK',
 'Cincinnati Royals': 'CIN',
 'Rochester Royals': 'ROR',
 'San Antonio Spurs': 'SAS',
 'Toronto Raptors': 'TOR',
 'Utah Jazz': 'UTA',
 'New Orleans Jazz': 'NOJ',
 'Washington Wizards': 'WAS',
 'Washington Bullets': 'WAS',
 'Capital Bullets': 'CAP',
 'Baltimore Bullets': 'BAL',
 'Chicago Zephyrs': 'CHI',
 'Chicago Packers': 'CHI',
 'Anderson Packers': 'AND',
 'Chicago Stags': 'CHI',
 'Indianapolis Olympians': 'IND',
 'Sheboygan Red Skins': 'SRS',
 'St. Louis Bombers': 'SLB',
 'Washington Capitols': 'WAS',
 'Waterloo Hawks': 'WAT',
 }

In [ ]:
for year in range(1980,datetime.now().year+1):

    try:
        player = pd.read_csv(f'player_stats/{year}_player_stats.csv',index_col=0)
        team = pd.read_csv(f'team_stats/{year}_tm_stats.csv',index_col=0)

    except:
        pass

    if year != 1999:
      all_star = pd.read_csv(f'all_stars/{year}_all_stars.csv',index_col=0)
      # pd.merge(all_star,player,left_on=['Team',])


    team.Year = team.Year.astype(np.int64)


    team.columns = [f'tm_{i}' for i in team.columns]



    team['tm_Team No Star'] = [i.split('*')[0] for i in team['tm_Team']]

    # Getting Rid of League Average
    team = team.drop(team[team['tm_Team'] == f'League Average {year}'].index)


    team['tm_Abbreviation'] = team['tm_Team No Star'].replace(tm_abbv)


    new = pd.merge(left=player,right=team,left_on='Tm',right_on='tm_Abbreviation',how='outer')

    new.to_csv(f'combined/{year}_combined.csv')

    if new.isnull().values.any():
        print(f'There are null values in {year}')
    print(f'{year} merged')

    Unnamed: 0                  Player  Year  All Star  All Star Starter
0            0           George Gervin  1980      True              True
1            1           Eddie Johnson  1980      True              True
2            2            Moses Malone  1980      True              True
3            3           Julius Erving  1980      True              True
4            4               John Drew  1980      True              True
5            5             Elvin Hayes  1980      True             False
6            6          Dan Roundfield  1980      True             False
7            7              Larry Bird  1980      True             False
8            8          Tiny Archibald  1980      True             False
9            9         Bill Cartwright  1980      True             False
10          10  Micheal Ray Richardson  1980      True             False
11          11         Marques Johnson  1980      True              True
12          12          Adrian Dantley  1980      True              True
13          13     Kareem Abdul-Jabbar  1980      True              True
14          14           Magic Johnson  1980      True              True
15          15           World B. Free  1980      True              True
16          16              Jack Sikma  1980      True             False
17          17           Paul Westphal  1980      True             False
18          18            Walter Davis  1980      True             False
19          19          Dennis Johnson  1980      True             False
20          20       Kermit Washington  1980      True             False
21          21           Otis Birdsong  1980      True             False