In [1]:
import pandas as pd
import requests
from datetime import datetime

In [2]:
def remove_multiindex(df:pd.DataFrame):
	return df.droplevel(level=0,axis=1)

In [3]:
# link for extract html data
def getdata(url):
    r = requests.get(url)
    return r.text

In [24]:
full_df_list = pd.DataFrame(columns=[ 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
		   '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
		   'BLK', 'TOV', 'PF', 'PTS', 'Age', 'W', 'L', 'MOV',
		   'SOS', 'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace', 'FTr', '3PAr', 'TS%',])


for year in range(1950,2023):


	htmldata = getdata(f"https://www.basketball-reference.com/leagues/NBA_{year}.html")
	df_list = pd.read_html(htmldata)

	if year <= 1970:

		per_game_stat = df_list[1]
		adv_stat = df_list[5]

	elif 1971 <= year <= 1973:
		per_game_stat = df_list[2]
		adv_stat = df_list[6]

	elif 1974 <= year <= 1980:
		per_game_stat = df_list[2]
		adv_stat = df_list[8]

	elif 1980<= year <= 2015:
		per_game_stat = df_list[3].copy()
		adv_stat = df_list[8].copy()
	else:
		per_game_stat = df_list[4].copy()
		adv_stat = df_list[10].copy()

	new = pd.merge(per_game_stat,adv_stat.droplevel(level=0,axis=1),on='Team')

	new = new[[ 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
		   '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
		   'BLK', 'TOV', 'PF', 'PTS', 'Age', 'W', 'L', 'MOV',
		   'SOS', 'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace', 'FTr', '3PAr', 'TS%',]].sort_values('W',ascending=False).reset_index(drop=True)

	new['Year'] = year

	new.loc[new['Team'] == 'League Average','Team'] = f'League Average {year}'

	new.to_csv(f'team_stats/pre_1980/{year}_tm_stats.csv')
	full_df_list = full_df_list.append(new)

	print(year,'Complete')


full_df_list.to_csv('team_stats/pre_1980/all_pre_1980.csv')

1950 Complete
1951 Complete
1952 Complete
1953 Complete
1954 Complete
1955 Complete
1956 Complete
1957 Complete
1958 Complete
1959 Complete
1960 Complete
1961 Complete
1962 Complete
1963 Complete
1964 Complete
1965 Complete
1966 Complete
1967 Complete
1968 Complete
1969 Complete
1970 Complete
1971 Complete
1972 Complete
1973 Complete
1974 Complete
1975 Complete
1976 Complete
1977 Complete
1978 Complete
1979 Complete
1980 Complete
1981 Complete
1982 Complete
1983 Complete
1984 Complete
1985 Complete
1986 Complete
1987 Complete
1988 Complete
1989 Complete
1990 Complete
1991 Complete
1992 Complete
1993 Complete
1994 Complete
1995 Complete
1996 Complete
1997 Complete
1998 Complete
1999 Complete
2000 Complete
2001 Complete
2002 Complete
2003 Complete
2004 Complete
2005 Complete
2006 Complete
2007 Complete
2008 Complete
2009 Complete
2010 Complete
2011 Complete
2012 Complete
2013 Complete
2014 Complete
2015 Complete
2016 Complete
2017 Complete
2018 Complete
2019 Complete
2020 Complete
2021 Complete
2022 Complete

In [34]:
full_df_list.to_csv('../Data/Team Data/Combined/league_stats.csv')

In [16]:
year = 1974

htmldata = getdata(f"https://www.basketball-reference.com/leagues/NBA_{year}.html")
df_list = pd.read_html(htmldata)

if year <= 1970:

	per_game_stat = df_list[1]
	adv_stat = df_list[5]

elif 1971 <= year <= 1973:
	per_game_stat = df_list[2]
	adv_stat = df_list[6]

else:
	per_game_stat = df_list[2]
	adv_stat = df_list[8]

In [17]:
# per_game_stat
remove_multiindex(adv_stat)

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,FT/FGA,Unnamed: 22_level_1,eFG%,TOV%,DRB%,FT/FGA,Unnamed: 27_level_1,Arena,Attend.,Attend./G
0,1.0,Milwaukee Bucks*,27.3,59.0,23.0,61,21,8.04,-0.42,7.61,...,0.175,NaN,0.425,15.2,69.4,0.192,NaN,Milwaukee Arena,NaN,NaN
1,2.0,Detroit Pistons*,26.2,52.0,30.0,52,30,4.06,-0.04,4.02,...,0.220,NaN,0.450,17.9,69.6,0.197,NaN,Cobo Arena,NaN,3634.0
2,3.0,Boston Celtics*,28.5,56.0,26.0,51,31,3.91,-0.49,3.42,...,0.210,NaN,0.443,15.2,73.1,0.186,NaN,Boston Garden,355261.0,NaN
3,4.0,Chicago Bulls*,28.7,54.0,28.0,50,32,3.30,-0.10,3.20,...,0.242,NaN,0.460,18.9,69.7,0.197,NaN,Chicago Stadium,NaN,NaN
4,5.0,New York Knicks*,28.5,49.0,33.0,49,33,2.76,-0.34,2.42,...,0.180,NaN,0.446,15.9,72.3,0.203,NaN,Madison Square Garden (IV),NaN,NaN
5,6.0,Golden State Warriors,28.4,44.0,38.0,48,34,2.56,-0.15,2.42,...,0.196,NaN,0.453,14.2,71.2,0.195,NaN,Oakland-Alameda County Coliseum Arena,NaN,NaN
6,7.0,Capital Bullets*,26.4,47.0,35.0,45,37,1.49,-0.30,1.19,...,0.177,NaN,0.451,16.3,70.5,0.160,NaN,Capital Centre,NaN,NaN
7,8.0,Los Angeles Lakers*,28.7,47.0,35.0,43,39,0.87,-0.02,0.85,...,0.241,NaN,0.438,15.7,66.1,0.185,NaN,The Forum,603145.0,NaN
8,9.0,Buffalo Braves*,24.4,42.0,40.0,41,41,-0.11,-0.08,-0.19,...,0.219,NaN,0.467,16.4,69.0,0.196,NaN,Buffalo Memorial Auditorium,NaN,NaN
9,10.0,Houston Rockets,25.4,32.0,50.0,41,41,-0.13,-0.20,-0.34,...,0.227,NaN,0.478,17.0,69.0,0.231,NaN,Hofheinz Pavilion,NaN,NaN
10,11.0,Atlanta Hawks,27.1,35.0,47.0,37,45,-1.43,-0.04,-1.47,...,0.220,NaN,0.468,17.5,70.4,0.246,NaN,Omni Coliseum,NaN,NaN
11,12.0,Seattle SuperSonics,26.0,36.0,46.0,34,48,-2.55,0.26,-2.29,...,0.199,NaN,0.463,17.0,69.8,0.244,NaN,Seattle Center Coliseum,NaN,NaN
12,13.0,Phoenix Suns,26.2,30.0,52.0,32,50,-3.56,0.36,-3.20,...,0.225,NaN,0.467,15.6,69.1,0.236,NaN,Arizona Veterans Memorial Coliseum,NaN,NaN
13,14.0,Kansas City-Omaha Kings,26.7,33.0,49.0,31,51,-3.73,0.49,-3.24,...,0.222,NaN,0.476,17.4,67.9,0.201,NaN,Municipal Auditorium,NaN,NaN
14,15.0,Cleveland Cavaliers,26.5,29.0,53.0,29,53,-4.33,0.17,-4.16,...,0.177,NaN,0.469,16.6,68.7,0.231,NaN,Cleveland Arena,NaN,NaN
15,16.0,Portland Trail Blazers,24.7,27.0,55.0,29,53,-4.78,0.48,-4.30,...,0.207,NaN,0.484,16.6,68.5,0.241,NaN,Memorial Coliseum,NaN,NaN
16,17.0,Philadelphia 76ers,28.4,25.0,57.0,24,58,-6.37,0.42,-5.94,...,0.212,NaN,0.468,17.6,66.7,0.210,NaN,The Spectrum,NaN,NaN
17,NaN,League Average,27.0,NaN,NaN,41,41,0.00,0.00,0.00,...,0.209,NaN,0.459,16.5,69.5,0.209,NaN,NaN,479203.0,5676.0