In [1]:
import pandas as pd

In [4]:
james = pd.read_csv('Stats/James/Regular Season/totals.csv')

In [9]:
james.AST.sum()/james.MP.sum()

0.7111077481840193

In [12]:
jordan = pd.read_csv('Stats/Jordan/Regular Season/Totals.csv')

In [13]:
jordan

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
0,1984-85,21,CHI,NBA,SG,82,82,3144,837,1625,...,367,534,481,196,69,291,285,2313,NaN,3
1,1985-86,22,CHI,NBA,SG,18,7,451,150,328,...,41,64,53,37,21,45,46,408,NaN,0
2,1986-87,23,CHI,NBA,SG,82,82,3281,1098,2279,...,264,430,377,236,125,272,237,3041,NaN,0
3,1987-88,24,CHI,NBA,SG,82,82,3311,1069,1998,...,310,449,485,259,131,252,270,2868,NaN,2
4,1988-89,25,CHI,NBA,SG,81,81,3255,966,1795,...,503,652,650,234,65,290,247,2633,NaN,15
5,1989-90,26,CHI,NBA,SG,82,82,3197,1034,1964,...,422,565,519,227,54,247,241,2753,NaN,1
6,1990-91,27,CHI,NBA,SG,82,82,3034,990,1837,...,374,492,453,223,83,202,229,2580,NaN,0
7,1991-92,28,CHI,NBA,SG,80,80,3102,943,1818,...,420,511,489,182,75,200,201,2404,NaN,2
8,1992-93,29,CHI,NBA,SG,78,78,3067,992,2003,...,387,522,428,221,61,207,188,2541,NaN,4
9,1994-95,31,CHI,NBA,SG,17,17,668,166,404,...,92,117,90,30,13,35,47,457,NaN,0
10,1995-96,32,CHI,NBA,SG,82,82,3090,916,1850,...,395,543,352,180,42,197,195,2491,NaN,0
11,1996-97,33,CHI,NBA,SG,82,82,3106,920,1892,...,369,482,352,140,44,166,156,2431,NaN,1
12,1997-98,34,CHI,NBA,SG,82,82,3181,881,1893,...,345,475,283,141,45,185,151,2357,NaN,0
13,2001-02,38,WAS,NBA,SF,60,53,2093,551,1324,...,289,339,310,85,26,162,119,1375,NaN,0
14,2002-03,39,WAS,NBA,SF,82,67,3031,679,1527,...,426,497,311,123,39,173,171,1640,NaN,0

In [15]:
jordan.AST.sum()/jordan.MP.sum()

0.13735339299212407