In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('../Data/Team Data/Combined/league_stats.csv',index_col=0)
df = data.copy()

In [5]:
df

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Year
0,Boston Celtics*,82,242.4,41.9,89.2,0.470,0.9,3.2,0.286,41.0,...,-0.42,7.37,109.4,101.9,7.5,102.6,0.332,0.057,0.550,1980.0
1,Los Angeles Lakers*,82,242.4,45.4,96.6,0.470,1.0,3.3,0.285,44.5,...,-0.51,5.40,109.5,103.9,5.6,104.1,0.284,0.014,0.569,1980.0
2,Philadelphia 76ers*,82,242.1,42.0,92.2,0.455,0.9,3.4,0.271,41.1,...,-0.18,4.04,105.0,101.0,4.0,103.0,0.340,0.017,0.544,1980.0
3,Seattle SuperSonics*,82,241.8,41.6,90.5,0.459,0.7,2.9,0.246,40.8,...,-0.42,4.24,105.8,101.2,4.6,101.8,0.298,0.025,0.520,1980.0
4,Phoenix Suns*,82,240.9,43.5,91.2,0.476,1.2,3.6,0.337,42.2,...,-0.35,3.25,105.6,102.2,3.4,104.8,0.341,0.039,0.548,1980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Oklahoma City Thunder,75,241.7,38.2,89.3,0.428,12.1,37.6,0.321,26.2,...,0.30,-7.13,104.6,112.0,-7.4,98.5,0.223,0.421,0.529,2022.0
27,Houston Rockets,76,241.0,39.1,86.0,0.455,13.4,38.5,0.349,25.7,...,0.33,-8.21,107.9,116.3,-8.4,100.8,0.285,0.447,0.564,2022.0
28,Detroit Pistons,76,241.3,38.1,88.7,0.430,11.1,34.2,0.326,27.0,...,0.37,-7.45,105.7,113.6,-7.9,98.4,0.248,0.386,0.532,2022.0
29,Orlando Magic,76,241.3,38.2,88.2,0.434,12.0,36.4,0.329,26.2,...,0.25,-7.49,104.3,112.1,-7.8,99.2,0.226,0.413,0.537,2022.0
30,League Average 2022,76,241.4,40.5,88.1,0.460,12.4,35.2,0.352,28.1,...,0.00,0.00,111.6,111.6,NaN,98.1,0.247,0.399,0.564,2022.0

In [34]:
a = df.loc[:,['Team','Year','SRS','ORtg','DRtg','NRtg','TS%']]
a.Year = a.Year.astype(int)
a.Team = a.Team.str.strip('*')
a

                     Team  Year   SRS   ORtg   DRtg  NRtg    TS%
0          Boston Celtics  1980  7.37  109.4  101.9   7.5  0.550
1      Los Angeles Lakers  1980  5.40  109.5  103.9   5.6  0.569
2      Philadelphia 76ers  1980  4.04  105.0  101.0   4.0  0.544
3     Seattle SuperSonics  1980  4.24  105.8  101.2   4.6  0.520
4            Phoenix Suns  1980  3.25  105.6  102.2   3.4  0.548
..                    ...   ...   ...    ...    ...   ...    ...
26  Oklahoma City Thunder  2022 -7.13  104.6  112.0  -7.4  0.529
27        Houston Rockets  2022 -8.21  107.9  116.3  -8.4  0.564
28        Detroit Pistons  2022 -7.45  105.7  113.6  -7.9  0.532
29          Orlando Magic  2022 -7.49  104.3  112.1  -7.8  0.537
30    League Average 2022  2022  0.00  111.6  111.6   NaN  0.564

[1237 rows x 7 columns]

In [72]:
jordan = pd.read_excel('Jordan Playoff opon.xlsx')

j = pd.merge(jordan,a,how='inner',left_on=['Oponent','Year'],right_on=['Team','Year']).drop(columns=['Year','Oponent'])
j

    Wins  Losses                 Team   SRS   ORtg   DRtg  NRtg    TS%
0      1       3      Milwaukee Bucks  6.69  110.5  103.6   6.9  0.545
1      0       3       Boston Celtics  9.06  111.8  102.6   9.2  0.564
2      0       3       Boston Celtics  6.57  113.5  106.8   6.7  0.577
3      3       2  Cleveland Cavaliers  1.28  106.8  106.0   0.8  0.547
4      1       4      Detroit Pistons  5.46  110.5  105.3   5.2  0.548
5      3       2  Cleveland Cavaliers  7.95  110.6  102.9   7.7  0.559
6      4       2      New York Knicks  3.62  111.1  107.5   3.6  0.553
7      2       4      Detroit Pistons  6.24  110.8  104.7   6.1  0.551
8      3       1      Milwaukee Bucks -1.06  107.3  108.1  -0.8  0.533
9      4       1   Philadelphia 76ers  4.23  113.5  108.4   5.1  0.556
10     3       4      Detroit Pistons  5.41  109.9  103.5   6.4  0.537

In [53]:
(sum(j.SRS * j.Wins) + sum(j.SRS * j.Losses))/(j.Wins.sum() +j.Losses.sum())

4.925283018867925

In [55]:
for i in ['SRS','ORtg','DRtg','NRtg','TS%']:

    print(i,(sum(j[i] * j.Wins) + sum(j[i] * j.Losses))/(j.Wins.sum() +j.Losses.sum()))

SRS 4.925283018867925
ORtg 110.4679245283019
DRtg 105.39056603773587
NRtg 5.077358490566038
TS% 0.5503396226415094

In [68]:
james = pd.read_excel('James Playoff opon.xlsx')

ja = pd.merge(james,a,how='inner',left_on=['Opponent','Year'],right_on=['Team','Year']).drop(columns=['Opponent'])
ja

    Year  Wins  Losses                Team   SRS   ORtg   DRtg  NRtg    TS%
0   2006     4       2  Washington Wizards  1.57  109.3  107.3   2.0  0.538
1   2006     3       4     Detroit Pistons  6.24  110.8  103.1   7.7  0.535
2   2007     4       0  Washington Wizards -0.80  110.1  110.6  -0.5  0.542
3   2007     4       2     New Jersey Nets -1.00  105.7  106.6  -0.9  0.546
4   2007     4       2     Detroit Pistons  3.69  108.9  104.2   4.7  0.535
5   2007     0       4   San Antonio Spurs  8.35  109.2   99.9   9.3  0.561
6   2008     4       2  Washington Wizards -0.61  109.2  109.6  -0.4  0.535
7   2008     3       4      Boston Celtics  9.30  110.2   98.9  11.3  0.569
8   2009     4       0     Detroit Pistons -0.36  107.4  108.0  -0.6  0.524
9   2009     4       0       Atlanta Hawks  1.70  109.3  107.6   1.7  0.546
10  2009     2       4       Orlando Magic  6.48  109.2  101.9   7.3  0.559
11  2010     4       1       Chicago Bulls -1.64  103.5  105.3  -1.8  0.520
12  2010     2       4      Boston Celtics  3.37  107.7  103.8   3.9  0.564

In [59]:
for i in ['SRS','ORtg','DRtg','NRtg','TS%']:
    print(i)
    stat = (sum(ja[i] * ja.Wins) + sum(ja[i] * ja.Losses))/(ja.Wins.sum() +ja.Losses.sum())

SRS 3.0583098591549294
ORtg 108.57042253521126
DRtg 104.86338028169016
NRtg 3.707042253521126
TS% 0.5448169014084507

Empty DataFrame
Columns: [SRS, ORtg, DRtg, NRtg, TS%]
Index: []

                   Team  Year  SRS   ORtg   DRtg  NRtg    TS%
23  League Average 1985  1985  0.0  107.9  107.9   NaN  0.543