In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading the Player data
players = pd.read_csv('../../Data/Combined Player and Team Data/improved_combined_player_and_team_data.csv',index_col='Unnamed: 0')

In [3]:
# This combines all DPOY lists into a single list.
# This will be joined with the main player dataframe on the Player and Age columns

df = pd.read_excel(f'../../Downloads/STATISTICS/STATS/Defensive Player of the Year-1983.xlsx',index_col='Unnamed: 0')
df = df.set_axis(df.iloc[0], axis='columns')
df = df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
df = df.drop(df[(df['Rank'].isna()) | (df['Rank'] == 'Rank')].index)
df.Rank = [int(str(i).strip('T')) for i in df['Rank'].to_list()]
df['DPOY'] = df['Rank'] == 1
df = df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])


for i in range(1984,2022):
    new_df =pd.read_excel(f'../../Downloads/STATISTICS/STATS/Defensive Player of the Year-{i}.xlsx',index_col='Unnamed: 0')
    new_df = new_df.set_axis(new_df.iloc[0], axis='columns')
    new_df = new_df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
    new_df = new_df.drop(new_df[(new_df['Rank'].isna()) | (new_df['Rank'] == 'Rank')].index)
    new_df.Rank = [int(str(i).strip('T')) for i in new_df['Rank'].to_list()]
    new_df['DPOY'] = new_df['Rank'] == 1
    new_df = new_df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])
    df = pd.concat([df,new_df])
    
df = df.reset_index().drop(columns='index')

df.columns = ['DPOY_Rank','Player', 'Age', 'DPOY_First', 'DPOY_Pts Won', 'DPOY_Pts Max', 'DPOY_Share', 'DPOY']

df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: '../../Downloads/STATISTICS/STATS/Defensive Player of the Year-1983.xlsx'

In [4]:
# Merges the DPOY list into the players Dataframe
players = players.merge(df,how='left',on=['Player','Age'])

In [5]:
# Prints the topmost DPOY share seasons of 1983 - Current
players[['DPOY_Rank','Player','Pos','Year','Age','Tm','PTS','DPOY_Share']].sort_values('DPOY_Share',ascending=False).head(5)

       DPOY_Rank         Player Pos  Year   Age   Tm   PTS DPOY_Share
12558        1.0  Dwight Howard   C  2011  25.0  ORL  22.9      0.975
8226         1.0    Ben Wallace   C  2002  27.0  DET   7.6      0.967
12141        1.0  Dwight Howard   C  2010  24.0  ORL  18.3      0.944
15576        1.0    Rudy Gobert   C  2018  25.0  UTA  13.5      0.923
11487        1.0  Dwight Howard   C  2009  23.0  ORL  20.6      0.911

In [6]:
# This combines all Most Improved Player lists into a single list.
# This will be joined with the main player dataframe on the Player and Age columns

# For some reason, the 1987 voting doesn't exist.
# Dale Ellis won in 1987, but I can't find the voting anywhere

df = pd.read_excel(f'../../Downloads/STATISTICS/STATS/Most Improved Player-1986.xlsx',index_col='Unnamed: 0')
df = df.set_axis(df.iloc[0], axis='columns')
df = df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
df = df.drop(df[(df['Rank'].isna()) | (df['Rank'] == 'Rank')].index)
df.Rank = [int(str(i).strip('T')) for i in df['Rank'].to_list()]
df['MIP'] = df['Rank'] == 1
df = df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])

for i in range(1988,2021):
    new_df =pd.read_excel(f'../../Downloads/STATISTICS/STATS/Most Improved Player-{i}.xlsx',index_col='Unnamed: 0')
    new_df = new_df.set_axis(new_df.iloc[0], axis='columns')
    new_df = new_df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
    new_df = new_df.drop(new_df[(new_df['Rank'].isna()) | (new_df['Rank'] == 'Rank')].index)
    new_df.Rank = [int(str(i).strip('T')) for i in new_df['Rank'].to_list()]
    new_df['MIP'] = new_df['Rank'] == 1
    new_df = new_df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])
    df = pd.concat([df,new_df])
    
df = df.reset_index().drop(columns='index')
df.columns = ['MIP_Rank','Player', 'Age', 'MIP_First', 'MIP_Pts Won', 'MIP_Pts Max', 'MIP_Share','MIP']
df.head(5)

,MIP_Rank,Player,Age,MIP_First,MIP_Pts Won,MIP_Pts Max,MIP_Share,MIP
0,1,Alvin Robertson,23,30,30,78,0.385,True
1,2,Charles Barkley,22,18.5,18.5,78,0.237,False
2,3,Kevin Willis,23,8,8,78,0.103,False
3,4,Dominique Wilkins,26,6.5,6.5,78,0.083,False
4,1,Kevin Duckworth,23,33,33,80,0.413,True

In [7]:
# Merges the Most Improved Player list into the players Dataframe
players = players.merge(df,how='left',on=['Player','Age'])

In [8]:
# Prints the topmost Improved Player share seasons of 1986, skips 1987, then 1988 - Current
players[['MIP_Rank','Player','Pos','Year','Age','Tm','PTS','MIP_Share']].sort_values('MIP_Share',ascending=False).head(5)

       MIP_Rank                 Player Pos  Year   Age   Tm   PTS MIP_Share
16193       1.0          Pascal Siakam  PF  2019  24.0  TOR  16.9     0.938
14586       1.0            CJ McCollum  SG  2016  24.0  POR  20.8      0.86
15363       1.0  Giannis Antetokounmpo  SF  2017  22.0  MIL  22.9     0.856
16711       1.0         Brandon Ingram  PF  2020  22.0  NOP  23.8     0.652
8056        1.0          Tracy McGrady  SG  2001  21.0  ORL  26.8     0.597

In [9]:
# This combines all MVP lists into a single list.
# This will be joined with the main player dataframe on the Player and Age columns

df = pd.read_excel(f'../../Downloads/STATISTICS/STATS/Most Valuable Player-1986.xlsx',index_col='Unnamed: 0')
df = df.set_axis(df.iloc[0], axis='columns')
df = df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
df = df.drop(df[(df['Rank'].isna()) | (df['Rank'] == 'Rank')].index)
df.Rank = [int(str(i).strip('T')) for i in df['Rank'].to_list()]
df['MVP'] = df['Rank'] == 1
df = df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])

for i in range(1988,2021):
    new_df =pd.read_excel(f'../../Downloads/STATISTICS/STATS/Most Valuable Player-{i}.xlsx',index_col='Unnamed: 0')
    new_df = new_df.set_axis(new_df.iloc[0], axis='columns')
    new_df = new_df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
    new_df = new_df.drop(new_df[(new_df['Rank'].isna()) | (new_df['Rank'] == 'Rank')].index)
    new_df.Rank = [int(str(i).strip('T')) for i in new_df['Rank'].to_list()]
    new_df['MVP'] = new_df['Rank'] == 1
    new_df = new_df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])
    df = pd.concat([df,new_df])
    
df = df.reset_index().drop(columns='index')

df.columns = ['MVP_Rank','Player', 'Age', 'MVP_First', 'MVP_Pts Won', 'MVP_Pts Max', 'MVP_Share','MVP']

df.head(5)

,MVP_Rank,Player,Age,MVP_First,MVP_Pts Won,MVP_Pts Max,MVP_Share,MVP
0,1,Larry Bird,29,73,765,780,0.981,True
1,2,Dominique Wilkins,26,5,407,780,0.522,False
2,3,Magic Johnson,26,0,205,780,0.263,False
3,4,Hakeem Olajuwon,23,0,193,780,0.247,False
4,5,Kareem Abdul-Jabbar,38,0,135,780,0.173,False

In [10]:
# Merges the MVP list into the players Dataframe
players = players.merge(df,how='left',on=['Player','Age'])

In [11]:
# Prints the topmost MVP share seasons of 1980 - Current
players[['MVP_Rank','Player','Pos','Age','Tm','PTS','Year','MVP_Share']].sort_values('MVP_Share',ascending=False).head(5)

       MVP_Rank            Player Pos   Age   Tm   PTS  Year MVP_Share
14847       1.0     Stephen Curry  PG  27.0  GSW  30.1  2016         1
13183       1.0      LeBron James  PF  28.0  MIA  26.8  2013     0.998
7710        1.0  Shaquille O'Neal   C  27.0  LAL  29.7  2000     0.998
9309        1.0     Kevin Garnett  PF  27.0  MIN  24.2  2004     0.991
13625       1.0      Kevin Durant  SF  25.0  OKC  32.0  2014     0.986

In [12]:
# This combines all ROTY lists into a single list.
# This will be joined with the main player dataframe on the Player and Age columns

df = pd.read_excel(f'../../Downloads/STATISTICS/STATS/Rookie of the Year-1980.xlsx',index_col='Unnamed: 0')
df = df.set_axis(df.iloc[0], axis='columns')
df = df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
df = df.drop(df[(df['Rank'].isna()) | (df['Rank'] == 'Rank')].index)
df.Rank = [int(str(i).strip('T')) for i in df['Rank'].to_list()]
df['MVP'] = df['Rank'] == 1
df = df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])

for i in range(1981,2021):
    new_df =pd.read_excel(f'../../Downloads/STATISTICS/STATS/Rookie of the Year-{i}.xlsx',index_col='Unnamed: 0')

    new_df = new_df.set_axis(new_df.iloc[0], axis='columns')
    new_df = new_df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
    new_df = new_df.drop(new_df[(new_df['Rank'].isna()) | (new_df['Rank'] == 'Rank')].index)
    new_df.Rank = [int(str(i).strip('T')) for i in new_df['Rank'].to_list()]
    new_df['MVP'] = new_df['Rank'] == 1
    new_df = new_df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])
    df = pd.concat([df,new_df])
    
df = df.reset_index().drop(columns='index')

df.columns = ['ROTY_Rank','Player', 'Age', 'ROTY_First', 'ROTY_Pts Won', 'ROTY_Pts Max', 'ROTY_Share','ROTY']

df.head(5)

,ROTY_Rank,Player,Age,ROTY_First,ROTY_Pts Won,ROTY_Pts Max,ROTY_Share,ROTY
0,1,Larry Bird,23,63,63,66,0.955,True
1,2,Magic Johnson,20,3,3,66,0.045,False
2,1,Darrell Griffith,22,19,19,69,0.275,True
3,2,Kelvin Ransey,22,18,18,69,0.261,False
4,3,Larry Smith,23,14,14,69,0.203,False

In [13]:
# Merges the ROTY list into the players Dataframe
players = players.merge(df,how='left',on=['Player','Age'])

In [14]:
# Prints the topmost ROTY share seasons of 1980 - Current
players[['ROTY_Rank','Player','Pos','Age','Tm','PTS','Year','ROTY_Share']].sort_values('ROTY_Share',ascending=False).head(5)

       ROTY_Rank              Player Pos   Age   Tm   PTS  Year ROTY_Share
12548        1.0       Blake Griffin  PF  21.0  LAC  22.5  2011          1
3388         1.0      David Robinson   C  24.0  SAS  24.3  1990          1
14703        1.0  Karl-Anthony Towns   C  20.0  MIN  18.3  2016          1
13500        1.0      Damian Lillard  PG  22.0  POR  19.0  2013          1
1319         1.0       Ralph Sampson   C  23.0  HOU  21.0  1984          1

In [15]:
# This combines all Sixth Man of the Year lists into a single list.
# This will be joined with the main player dataframe on the Player and Age columns


df = pd.read_excel(f'../../Downloads/STATISTICS/STATS/Sixth Man of the Year-1984.xlsx',index_col='Unnamed: 0')
df = df.set_axis(df.iloc[0], axis='columns')
df = df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
df = df.drop(df[(df['Rank'].isna()) | (df['Rank'] == 'Rank')].index)
df.Rank = [int(str(i).strip('T')) for i in df['Rank'].to_list()]
df['SMOTY'] = df['Rank'] == 1
df = df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])

for i in range(1985,2021):
    new_df =pd.read_excel(f'../../Downloads/STATISTICS/STATS/Sixth Man of the Year-{i}.xlsx',index_col='Unnamed: 0')

    new_df = new_df.set_axis(new_df.iloc[0], axis='columns')
    new_df = new_df.reset_index().drop(columns='index').drop(index=[0,1]).reset_index().drop(columns='index')
    new_df = new_df.drop(new_df[(new_df['Rank'].isna()) | (new_df['Rank'] == 'Rank')].index)
    new_df.Rank = [int(str(i).strip('T')) for i in new_df['Rank'].to_list()]
    new_df['SMOTY'] = new_df['Rank'] == 1
    new_df = new_df.drop(columns=['Tm','G','MP','PTS','TRB','AST','STL','BLK','FG%','3P%','FT%','WS','WS/48'])
    df = pd.concat([df,new_df])
    
df = df.reset_index().drop(columns='index')

df.columns = ['SMOTY_Rank','Player', 'Age', 'SMOTY_First', 'SMOTY_Pts Won', 'SMOTY_Pts Max', 'SMOTY_Share','SMOTY']



df.head(5)

,SMOTY_Rank,Player,Age,SMOTY_First,SMOTY_Pts Won,SMOTY_Pts Max,SMOTY_Share,SMOTY
0,1,Kevin McHale,26,59,59,76,0.776,True
1,2,John Drew,29,14,14,76,0.184,False
2,3,Kenny Carr,28,1,1,76,0.013,False
3,3,Phil Hubbard,27,1,1,76,0.013,False
4,3,Bobby Jones,32,1,1,76,0.013,False

In [16]:
# Merges the Sixth Man of the Year list into the players Dataframe
players = players.merge(df,how='left',on=['Player','Age'])

In [17]:
# Prints the topmost Sixth Man of the Year share seasons of 1984 - Current
players[['SMOTY_Rank','Player','Pos','Age','Tm','PTS','Year','SMOTY_Share']].sort_values('SMOTY_Share',ascending=False).head(5)

       SMOTY_Rank         Player Pos   Age   Tm   PTS  Year SMOTY_Share
11292         1.0  Manu Ginóbili  SG  30.0  SAS  19.5  2008       0.992
13090         1.0   James Harden  SG  22.0  OKC  16.8  2012       0.982
15882         1.0   Lou Williams  SG  31.0  LAC  22.6  2018        0.98
16532         1.0   Lou Williams  SG  32.0  LAC  20.0  2019       0.978
11583         1.0    Jason Terry  SG  31.0  DAL  19.6  2009       0.952

In [ ]:
players

In [18]:
players.to_csv('players_with_award_voting.csv')